#Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtualenv
.venv/

#IDEs
.vscode/
*.code-workspace
.idea/

#OS
.DS_Store
Thumbs.db

#Data and uploads
uploads/
*.sqlite3
*.db
*.csv
!tests/*.csv

#Tests output
htmlcov/
.coverage

#Misc
.env