# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtualenv
.venv/
venv/
ENV/

# IDEs
.vscode/
*.code-workspace
.idea/

# OS
.DS_Store
Thumbs.db

# Tests output
htmlcov/
.coverage

# Pipenv / poetry
Pipfile.lock
poetry.lock

# Misc
.env